{
     "host_controller_service": {
       "dealer_address": "tcp://127.0.0.1:5563"
    },

     "url_cloud_service": {
       "sales_popup_url": "https://www.onsemi.com/PowerSolutions/locateSalesSupport.do",
       "license_url": "https://www.openssl.org/source/license.html",
       "privacy_policy": "https://www.onsemi.com/privacy-policy"
    }
}
