{
     "host_controller_service": {
       "dealer_address": "tcp://127.0.0.1:5563"
    },

     "cloud_service": {
       "auth_server": "https://strata.onsemi.com/",
       "nonprod_auth_server": "http://10.238.54.227/"
    },

    "static_website" : {
       "sales_popup_url": "https://www.onsemi.com/PowerSolutions/locateSalesSupport.do",
       "license_url": "https://www.openssl.org/source/license.html",
       "privacy_policy_url": "https://www.onsemi.com/privacy-policy",
       "mouser_url": "https://www.mouser.com/new/on-semiconductor/onsemi-strata-developer-studio/",
       "digikey_url": "https://www.digikey.com/en/product-highlight/o/on-semi/strata-developer-studio",
       "avnet_url": "https://www.avnet.com/wps/portal/us/products/c/transform-your-thinking-with-on-semiconductor/strata-studio/"
    }
}
