[submodule "cloud/couchbase-lite-core"]
	path = cloud/couchbase-lite-core
	url = https://github.com/couchbase/couchbase-lite-core.git
[submodule "shared/rapidjson"]
	path = shared/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "shared/cpp-base64"]
	path = shared/cpp-base64
	url = https://github.com/ReneNyffenegger/cpp-base64.git
