*/Debug/*
Debug*
*/Release/*
platform/cli/USB-PD/BUILD/*
*build*/
*BUILD*/
*man*/
*.pro.user*
*.pro.user
*.exe
*.py
!platform/lib/libmbed-os.a
!host/lib/linux/lib*
*.project
*.cproject
.settings
CMakeFiles
CMakeCache.txt
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
.idea
.qmake.stash
.vs*
GeneratedFiles*
*vcxproj*
*usb-pd.vcxproj.user*
*.swp
*.swo
tags
cmake-build-debug
*.config
