RelWithDebInfo/
Debug/
MinSizeRel/
Release/

*build*/
*BUILD*/
#simlink to build directory
*.pro.user*
*.pro.user
*.exe
*.project
*.cproject
.settings
CMakeLists.txt.user
Testing
Makefile
.idea
.qmake.stash
.vs*
GeneratedFiles*
*vcxproj*
*usb-pd.vcxproj.user*
*.sw[po]
tags
*.config
*.jlink
*.DS_Store
*.qmlc
*.autosave
hs-utils-release
extern/qwt/*
extern/qwt-*.zip
extern/couchbase-lite-C
extern/monaco-editor-0.21.3/package/*
extern/monaco-editor-0.21.3/tar/*
components/monaco/qml/tech/strata/monaco/minified/*
*.rcc
.venv*/
3p/
3p-d/
*.pyc
strata-host-core-internal/
*strata-platform-control-views/
strata-deployment/
