platform/cli/USB-PD/BUILD/*
*build*/
*BUILD*/
#simlink to build directory
host/build
*.pro.user*
*.pro.user
*.exe
*.py
!platform/lib/libmbed-os.a
!host/lib/linux/lib*
*.project
*.cproject
.settings
CMakeFiles
CMakeCache.txt
CMakeScripts
CMakeLists.txt.user
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
.idea
.qmake.stash
.vs*
GeneratedFiles*
*vcxproj*
*usb-pd.vcxproj.user*
*.swp
*.swo
tags
cmake-build-debug
*.config
platform/tools/arm-gcc-toolchain/*
platform/mbed-os/sources/*
platform/applications/*/release/*
platform/applications/*/debug/*
!platform/applications/*/release/CMakeLists.txt
!platform/applications/*/debug/CMakeLists.txt
*.jlink
*.DS_Store
*.qmlc
*.autosave
