{
     "host_controller_service": {
       "dealer_address": "tcp://127.0.0.1:5563"
    },

     "cloud_service": {
       "auth_server": ""
    },

    "static_website" : {
       "sales_popup_url": "",
       "license_url": "",
       "privacy_policy_url": "",
       "mouser_url": "",
       "digikey_url": "",
       "avnet_url": ""
    }
}
