//
// Host Controller Service configuration file
//
//
{
	"host_controller_service": {
		"command_address": "tcp://*:5564",     // hcs command address
		"subscriber_address": "tcp://*:5563",  // client subscribe address
        	"simulated_platform":false,            // simulate platform hw
		"serial_port_number": "/dev/tty.usbserial-DM008R9X" // linux/mac: /dev/ttyXYZ, windows: COM7, COM6
	},

    "database":{
       "server":"cobra.spyglass.tech/gw/development",
       "gateway_sync":"cobra.spyglass.tech/gw/development",
       "channels":[
          "development",
          "test"
       ]
	}
}
