//
// Host Controller Service configuration file
//
//
{
	"host_controller_service": {
		"command_address": "tcp://*:5564",     // hcs command address
		"subscriber_address": "tcp://*:5563",  // client subscribe address
        	"simulated_platform":false            // simulate platform hw
	},

    "database":{
       "server":"cobra.spyglass.tech/gw/development",
       "gateway_sync":"cobra.spyglass.tech/gw/development",
       "channels":[
          "development",
          "test"
       ]
	}
}
