//
// Host Controller Service configuration file [QA]
//
//
{
     "host_controller_service": {
       "subscriber_address": "tcp://*:5563"  // client subscribe address
    },
    "database":{
       "file_server":"https://qa-api.strata.onsemi.com/api/v1/files/",
       "gateway_sync":"wss://qa-api.strata.onsemi.com/spyglass-qa"
    },
    "stage": "qa"
}
