//
// Host Controller Service configuration file [dev]
//
//
{
     "host_controller_service": {
       "subscriber_address": "tcp://*:5563"  // client subscribe address
    },
    "database":{
       "file_server":"https://dev-api.strata.onsemi.com/api/v1/files/",
       "gateway_sync":"wss://dev-api.strata.onsemi.com/spyglass"
    },
    "stage": "dev"
}
