//
// Host Controller Service configuration file
// for local cloud deployment (mock cloud running on localhost)
//
//
{
     "host_controller_service": {
       "subscriber_address": "tcp://*:5563"  // client subscribe address
    },
    "database":{
        "file_server":"http://localhost:8000",
        "gateway_sync":"ws://localhost:4984/strata"
    },
    "stage": "docker"
}
