<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>Strata</Name>
    <Version>0.0.1-1</Version>
    <Title>ON Semiconductor: Strata</Title>
    <Publisher>ON Semiconductor Slovakia, a.s.</Publisher>
    <ProductUrl>https://www.onsemi.com/strata</ProductUrl>
    <InstallerApplicationIcon>ON_button_blk_vector</InstallerApplicationIcon>
    <InstallerWindowIcon>ON_button_blk_vector.png</InstallerWindowIcon>
    <Logo>strata-logo.png</Logo>
    <Watermark>strata-watermark.png</Watermark>
    <WizardStyle>Modern</WizardStyle>
    <WizardDefaultWidth>840</WizardDefaultWidth>
    <WizardDefaultHeight>480</WizardDefaultHeight>
    <StartMenuDir>ON Semiconductor</StartMenuDir>
    <TargetDir>@ApplicationsDirX64@/ON Semiconductor/Strata</TargetDir>
    <RemoteRepositories>
        <Repository>
            <DisplayName>Strata Repository</DisplayName>
            <Url>https://localhost:8000/Strata</Url>
        </Repository>
    </RemoteRepositories>
    <RepositorySettingsPageVisible>false</RepositorySettingsPageVisible>
    <MaintenanceToolName>Strata Maintenance Tool</MaintenanceToolName>
    <RemoveTargetDir>false</RemoveTargetDir>
    <AllowNonAsciiCharacters>true</AllowNonAsciiCharacters>
    <CreateLocalRepository>false</CreateLocalRepository>
    <InstallActionColumnVisible>true</InstallActionColumnVisible>
    <ControlScript>installscript.qs</ControlScript>
</Installer>
